.bd {
    width: 100%;
    height: 550px;
    background-color: #fd7a72;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 10%;
    height: 100%;
    display: flex;
}

.middle {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle img {
    height: 450px;
    width: 700px;
    object-fit: cover;
}

.right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 400px;
    height: 80%;
    background-color: white;
    border-radius: 3%;
    padding: 20px 0;
}

.input-group {
    display: flex;
    align-items: center;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 7px;
    width: 80%;
    background-color: #f9f9f9;
}

.input-group img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
}

.input-group1 {
    display: flex;
    align-items: center;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 7px;
    width: 80%;
    background-color: #f9f9f9;
}

.input-group1 input {
    border: none;
    outline: none;
    width: 70%;
    background-color: transparent;
}

.input-group1 button {
    width: 30%;
    border: none;
    outline: none;
    background-color: #f9f9f9;

}



button {
    background-color: #0c94d4;
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5%;
    margin-top: 40px;
    margin-right: 20px;

}

button:hover {
    cursor: pointer;
}

.qq {
    margin-top: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qq a {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.qq img {
    width: 20px;
}

.qq:hover a {
    color: #fd7a72;
    cursor: pointer;
}

form .error {
    display: flex;
    color: red;
    justify-content: center;
    margin-top: 10px;
    visibility: hidden;
}


@media screen and (max-width: 700px) {
    .left {
        display: none;
    }

    .middle {
        display: none;
    }

    .right {
        width: 100%;
        background-color: white;
    }

    .form {
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #ccc;
    }

    .logo {
        text-align: center;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .left {
        display: none;
    }

    .middle {
        display: none;
    }

    .right {
        width: 100%;
        background-color: white;
    }

    .form {
        width: 100%;
    }

    .input-group {
        width: 100%;
        border: none;
    }

    .input-group1 {
        width: 100%;
        border: none;
    }
}